---
layout: base.njk
title: Sitemap
---

<h1>Sitemap</h1>

<ol aria-label="List of all pages">
	{% for page in collections.all | alphabetizePages %}
		<li>
			<a href="{{page.url}}">{{page.data.title}}</a>
		</li>
	{% endfor %}
</ol>